.header{
	color: rgb(100, 50, 50);
	font-weight: bold;
	position: relative;
	text-shadow: 0 0 2px rgb(0, 0, 0);
}

.jumbotron-fluid{
	background-color: rgb(225, 225, 225);
	height: 60px;
}

.grid{
	position: relative;
	top: 5%;
	height: 30%;
	overflow: auto;
}

.blog{
	position: relative;
	top: 10%;
	height: 40%;
	overflow: auto;
}

.signature{
	color: rgb(150, 150, 150);
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.app-icon{
	background-color:  rgb(225, 225, 225);
	border-radius: 5px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.col-md-3 .disabled:hover {
	background-color: rgb(225, 175, 175);
	cursor: not-allowed;
}

.col-md-3 .enabled:hover {
	background-color: rgb(175, 225, 175);
	cursor: pointer;
}

.app-icon img{
	height: 100px;
	position: relative;
	top: 25px;
	width: 100px;
}

.icon-label{
	color: white;
	text-align: center;
	width: 100%;
	font-weight: bold;
}

.blog .list-group .list-group-item{
	background-color: rgb(225, 225, 225);
	font-weight: bold;
}

.blog .list-group .list-group-item:hover{
	cursor: pointer;
}

.collapse .card, .collapsing .card{
	position: relative;
	margin-top: 10px;
	font-weight: normal;
}

html, body{
	background-color: rgb(50, 50, 50);
	height: 100%;
	width: 100%;
}
